@import '../../styles/variables.scss';

.Container {
    width: 100vw;
    max-width: map-get($breakpoints, 'xl');

    margin: 0 auto;
    padding: 0 24px;

    @media (max-width: map-get($breakpoints, 'lg')) {
        padding: 0 24px;
    }
}