@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.1s;
    font-family: $font;
}

html, body {
    background: #fcfcfc;
    width: 100vw;
    max-width: 100vw;
    height: auto;
    position: relative;

    overflow-x: hidden;
    color: $dark;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li {
    color: $font-color;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

@media screen and (max-width: map-get($breakpoints, 'lg')) {
    * {
        cursor: auto !important;
    }
}